<ion-view view-title="{{ 'mm.login.connecttomoodle' | translate }}">
  <ion-nav-buttons side="secondary">
      <button class="button button-icon ion-help-circled" ng-click="showHelp()" aria-label="{{ 'mm.core.help' | translate }}"></button>
  </ion-nav-buttons>
  <ion-content padding="true" id="mm-login-site" mm-state-class class="mm-center-view">
    <form class="mm-view-content">
      <div class="box">
        <div class="text-center padding">
          <img ng-src="img/logo.png" class="avatar-full  moodle-logo" role="presentation">
          <p class="padding">{{ 'mm.login.newsitedescription' | translate }}</p>
        </div>
        <ion-radio ng-model = "siteurl" ng-value = "'http://ava.fcrs.edu.br/portal3'">AVA Presencial</ion-radio>
        <ion-radio ng-model = "siteurl" ng-value = "'http://avaead.fcrs.edu.br/ead'">AVA EaD</ion-radio>
        <div>
          <input type="url" style="visibility:hidden" placeholder="{{ 'mm.login.siteaddress' | translate }}" ng-model="siteurl" mm-no-input-validation>
        </div>
        <button class="button button-block button-positive" ng-click="connect(siteurl)" ng-disabled="!siteurl">{{ 'mm.login.connect' | translate }}</button>
      </div>
    </form>
  </ion-content>
</ion-view>
